.intro-container {
  @include flex-col;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px 10px;
  text-align: center;
  > h1 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 1.5em;
    @media (min-width: 768px) {
      font-size: 3em;
    }
    @media (min-width: 1024px) {
      font-size: 3.5em;
    }
    > span {
      color: $font-orange;
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  padding: 15px 25px;
  font-size: 1em;
  @media (min-width: 768px) {
    margin: 15px 25px;
  }
}

.button--orange {
  background: $button-orange;
  transition: background 0.5s ease;
}

.button--orange:hover {
  background: $button-orange-hover;
}

.button--green {
  background: $button-green;
  transition: background 0.5s ease;
}

.button--green:hover {
  background: $button-green-hover;
}
