.team-container {
  @include flex-col;
  padding: $std-container-padding;
  > p {
    margin: 15px 0;
    font-weight: 300;
  }
}

.team-items-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  @media (min-width: 768px) {
    display: flex;
  }
}

.team-item {
  margin: 60px 0;
  position: relative;
  width: 100%;
  > img {
    height: 180px;
    border-radius: 50%;
    margin: 15px 0;
  }
  > h4 {
    font-weight: 700;
  }
  > hr {
    width: 30%;
    margin: 15px auto 5px;
  }
  > p {
    font-size: 0.9em;
    font-weight: 300;
  }
  > i {
    margin: 15px 5px;
    color: $font-grey;
    transition: color 0.5s ease;
  }
  > i:hover {
    color: $hr-orange;
  }
  @media (min-width: 768px) {
    width: 25%;
  }
}

.team-item:before {
  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    right: 12px;
    color: white;
    line-height: 2;
    padding: 20px;
    width: 80%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, eros at accumsan auctor, felis eros condimentum quam, non porttitor est urna vel neque";
    background: $dark-bg;
    z-index: 20;
    transition: max-height 1s ease, opacity 0.2s ease;
  }

}

.team-item:hover:before {
  @media (min-width: 1024px) {
    max-height: 300px;
    opacity: 1;
  }
}
