// fonts

$primary-font: 'Montserrat', Helvetica, sans-serif;
$testimonial-font: 'Homemade Apple', serif;
$header-font-size: 2.8em;
$sub-header-font-size: 1em;
$description-font-size: 0.9em;

// colors

$font-grey: #808080;
$font-dark-grey: #313131;
$font-white: white;
$font-orange: #e96656;
$button-orange: #e96656;
$button-orange-hover: #cb4332;
$button-green: #1e9e6b;
$button-green-hover:069059;
$button-green-dark: #14a168;
$button-green-dark-hover: #007345;
$hr-orange: #e96656;
$hr-green: #34d293;
$hr-blue: #3ab0e2;
$hr-yellow: #f7d861;
$dark-bg: #272727;

// heights

$navbar-height: 80px;

// paddings

$std-container-padding: 60px 20px;
